.button {
  width: 60px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  justify-content: space-evenly;
  background: #245991;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  color: #ffffff;
  z-index: 99;
  opacity: 1;
  transition: opacity 1s linear;
}

.button .links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button .links a:hover {
  color: #fdb811;
  transition-timing-function: ease-in-out !important;
  transition-delay: 1ms !important;
  text-decoration: none;
}

.button .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 250px;
  z-index: 99;
  position: absolute;
  top: 0em;
  left: 0em;
  background: #fdb811;
  transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.button .overlay a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button:hover .links a {
  transform: scale(1);
  opacity: 1;
}

.button:hover .overlay {
  transform: translateX(-100px);
}
